.container {
  /* display: flex; */
  position: fixed;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
}
.packingInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
