.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.25rem;
}

.svg {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
