.container {
  height: 400px;
  width: 100%;
  background-color: aqua;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.media {
  height: 240px;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
