.container {
  width: min(80vw, 520px);
  height: 400px;
  background-color: aqua;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}
